
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 7px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: #6366f1 #232e33;
  }
}
